/* Cabeçalho */
.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*Imagem MENU */
.menu{
    width: 2rem;
    height: auto;
}

html{
    width: 100%;
    height: 100%;
    background-color: blue;

}
body{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
/* Titulo */
.titulo1{
    font-family: Open sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-right: 700px;
}
.Modo-Rua-Ativo{
    text-align: center;
    margin: 0;
    padding: 0;

}

.Titulo-modoruaativo{
    margin-top: 10px;
}